/// UI: Types ...

// Font types
.ftype {
  // Proxima Nova
  &-proxima {
    &-light {
      font-family: $proxima-light;
      font-weight: 300;
    }

    &-regular {
      font-family: $proxima-regular;
      font-weight: 400;
    }

    &-semibold {
      font-family: $proxima-semibold;
      font-weight: 500;
    }

    &-bold {
      font-family: $proxima-bold;
      font-weight: 600;
    }

    &-extrabold {
      font-family: $proxima-extrabold;
      font-weight: 700;
    }
  }
}
